.faq {
  padding-left: 30px;
  max-width: 730px;
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &-title {
      font-size: 20px;
      line-height: 25px;
      font-weight: 700;
      margin-bottom: 5px;
      transition: margin-bottom 0.3s linear;
      &:before {
        position: absolute;
        left: -15px;
        width: 10px;
        height: 10px;
        content: "";
        display: block;
        border: 1px solid #00BFB4;
        border-radius: 90px;
        background-color: #00BFB4;
        transform: translateY(50%) translateX(-50%);
      }
      &:after {
        content: url("../images/icons/accordion_arrow.svg");
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        transform: rotate(180deg);
        transition: transform 0.3s linear;
      }
      &:hover {
        cursor: pointer;
      }
      &.active {
        margin-bottom: 0;
        &:after {
          transform: rotate(0deg);
        }
      }
    }
    &-text {
      max-width: calc(100% - 30px);
      padding-top: 0;
      box-sizing: content-box;
      line-height: 20px;
      max-height: 0;
      overflow: hidden;
      transition: 0.3s all ease-out;
      &._active {
        padding-top: 10px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .faq {
    max-width: 770px;
  }
}



