.footer {
  background-color: #7036BA;
  color: white;
  line-height: 25px;
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__terms > a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__copyrights {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 25px 0;
  }
}

@media (max-width: 575px) {
  .footer {
    &__inner {
      flex-direction: column;
    }
    &__terms {
      margin-bottom: 15px;
    }
  }
}