.form {
  margin: 0 auto;
  max-width: 540px;
  & > label {
    line-height: 20px;
  }
  &__input {
    margin-bottom: 30px;
    &:not(:last-child) {
      width: 100%;
      height: 45px;
      padding-left: 10px;
      font-size: 18px;
      line-height: 25px;
      margin: 10px 0 15px;
      &:focus {
        outline-color: #00BFB4;
      }
    }
  }
}

@media (max-width: 991px) {
  .form {
    margin-top: -25px;
  }
}

@media (max-width: 767px) {
  .form {
    max-width: 100%;
    margin-top: 0;

  }
}
