.pricing {
  display: flex;
  justify-content: space-between;
  color: white;
  &__item {
    padding: 15px 10px;
    min-height: 405px;
    width: 350px;
    background-color: #A76BF2;
    position: relative;
  }
  &__title {
    color: white;
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
  }
  &__list {
    padding-left: 26px;
    & > li {
      color: white;
      font-size: 18px;
      line-height: 25px;
    }
  }
  &__choose-tariff {
    position: absolute;
    left: 10px;
    bottom: 15px;
  }
  &__tariff {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 30px;
    & > span {
      font-weight: 700;
      font-size: 35px;
      line-height: 100%;
    }
  }
}

@media (max-width: 1199px) {
  .pricing {
    &__item {
      width: 290px;
    }
  }
}

@media (max-width: 991px) {
  .pricing {
    flex-direction: column;
    align-items: center;
    &__item {
      width: 450px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 767px) {
  .pricing {
    &__item {
      width: 510px;
    }
  }
}

@media (max-width: 575px) {
  .pricing {
    &__item {
      width: 330px;
    }
  }
}